<nav class="navbar navbar-expand-lg navbar-light bg-light">
   
  <a class="navbar-brand" href="../main">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOnrhTnwZAqQ7qGXmGdx_dN7MANlscdi7jjRzAvlv1GGtYHJSk5g" width="30" height="30" class="d-inline-block align-top" alt="">CoinMarketCap</a>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link" href="#">Rankings <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Tools</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Resources</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Blog</a>
         </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       </form>
     </div>
   </nav>
   <h3></h3>
   <h4>Top 100 Cryptocurrencies by Market Capitalization</h4>
   <h3></h3>
  <table class="table">
     <thead>
       <tr>
         <th scope="col">#</th>
         <th scope="col">Name</th>
         <th scope="col">Market Cap</th>
         <th scope="col">Price</th>
         <th scope="col">Volume (24H)</th>
         <th scope="col">Circulating Supply</th>
         <th scope="col">Change (24H)</th>
         <th scope="col">Price Graph (7d)</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <th scope="row">1</th>
         <td><a href="../bitcoin">Bitcoin</a></td>
         <td>$174,999,409,212</td>
         <td>$9,770.67</td>
         <td>$11,641,862,898</td>
         <td>17,910,687 BTC</td>
         <td>1.31%</td>
         <td></td>
       </tr>
       <tr>
         <th scope="row">2</th>
         <td>Ethereum Ethereum</td>
         <td>$18,459,145,255</td>
         <td>$171.60</td>
         <td>$5,300,163,266</td>
         <td>107,570,768 ETH</td>
         <td>-0.79%</td>
         <td></td>
       </tr>
       <tr>
         <th scope="row">3</th>
         <td>XRP</td>
         <td>$11,015,775,435</td>
         <td>$0.256272</td>
         <td>$849,115,247</td>
         <td>42,984,656,144 XRP *</td>
         <td>-0.79%</td>
         <td></td>
       </tr>
       <tr>
         <th scope="row">4</th>
         <td>Bitcoin Cash</td>
         <td>$5,078,004,470</td>
         <td>$282.42</td>
         <td>$1,050,409,265</td>
         <td>17,980,413 BCH</td>
         <td>0.43%</td>
         <td></td>
       </tr>
       <tr>
         <th scope="row">5</th>
         <td>Litecoin</td>
         <td>$4,175,927,372</td>
         <td>$66.11</td>
         <td>$2,021,970,625</td>
         <td>63,163,999 LTC</td>
         <td>1.71%</td>
         <td></td>
       </tr>
       <tr>
         <th scope="row">6</th>
         <td>Tether</td>
         <td>$4,019,341,405</td>
         <td>$1.00</td>
         <td>$13,895,226,038</td>
         <td>4,007,869,728 USDT *</td>
         <td>-0.02%</td>
         <td></td>
       </tr>
     </tbody>
   </table>
